.form-top{
    margin-left : 20rem;
}

.form-wrapper{
    display : flex;
    flex-direction: column;   
    align-items: baseline; 
    margin-right : 9rem;

}
.form-control{
    -webkit-box-shadow: 10px 12px 40px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 40px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 12px 40px -14px rgba(0,0,0,0.75);
    
}

.Auth-body {
    background-image: url("../../../img/blob-scene-2.svg");
    background-size: cover;
    background-position: center;
    color: black;
  }
  

.form-group {
    width: 50%;
    margin: 0 auto;
  }
  

label{
    font-size : 1.11rem;
    font-weight: 400;
    margin : 2rem;
}

input{

    border-radius : 5px;
    height: 1.8rem;
}



.email-form-label{
    margin-right : 4.5rem;
}

.contact-form-label{
    margin-right : 3.4rem;
}

.invalid {
    margin-left : 3rem;
    color : red;
    font-weight: bolder;
    
}



.subjects{
    display : flex;
    flex-direction: column;

}

.subs{
    margin : 0.8rem;
}

/* .stream-sub{
    display : flex;
    margin : 0;
} */



.sign-text{
    margin-right : 20rem;
}

.sub-btn{
    margin-right : 19rem;
    margin-top : 5rem;
}