.quiz{
/* background: #f1f1f1; */
padding: 3rem;
margin: 5rem;
}
.top{
  color: white;
  background-image: url('../../../img/blob-scene-haikei.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
}

/* .card {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  /* background: linear-gradient(to right, #ececec, #ffffff); */

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */


/* @media (max-width: 576px) {
  .card {
    width: 100%;
  }
} */